example/data/
Notebooks_Examples/Load_Clean_Analyze_test.ipynb
example/final_intervals/
_download_data.ipynb/
_download_data.ipynb
examples/PSP/*/final.pkl
examples/WIND/*/final.pkl
examples/PSP/*.pkl
examples/WIND/*.pkl
examples/PSP/*.pkl
examples/WIND/*.pkl
__pycache__/
*.pyc
.ipynb_checkpoints/
.virtual_documents/
data/
psp_data/
solar_orbiter_data/
examples/downloaded_intervals/
examples/selected_intervals/
selected_intervals/
*.tmp
examples/figures/
examples/noise_removal/
Notebooks_Examples/*-checkpoint.ipynb

# --- ALWAYS TRACK THESE PSP QTN DATASETS ---
!data/psp_data/PSP_QTN_Romeo/
!data/psp_data/PSP_QTN_Romeo/**
!data/psp_data/PSP_QTN_Monc/
!data/psp_data/PSP_QTN_Monc/**


data/psp_data/PSP_QTN_Romeo/.ipynb_checkpoints/

!data/psp_data/PSP_QTN_Romeo/
!data/psp_data/PSP_QTN_Romeo/**
!data/psp_data/PSP_QTN_Monc/
!data/psp_data/PSP_QTN_Monc/**

