example/data/
Notebooks_Examples/Load_Clean_Analyze_test.ipynb
example/final_intervals/
_download_data.ipynb/
_download_data.ipynb
examples/PSP/*/final.pkl
examples/WIND/*/final.pkl
examples/PSP/*.pkl
examples/WIND/*.pkl
examples/PSP/*.pkl
examples/WIND/*.pkl
examples/
public_data/examples/
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
last_200_runs.txt
*_runs.txt
logs/
psp_data/
solar_orbiter_data/
*.cdf
*.pkl
*.parquet
*.npz
*.npy
