astropy>=5.3
cdasws>=1.8
cdflib>=1.2
colormaps>=0.4
dill>=0.3
h5py>=3.8
joblib>=1.2
matplotlib>=3.7
netCDF4>=1.6
numba>=0.57
numexpr>=2.8
numpy>=1.24
pandas>=1.5
plasmapy>=0.7
polars>=0.20
pycwt>=0.3
pyspedas>=1.6
python-dateutil>=2.8
pytplot-mpl-temp>=2.2
pytz>=2023.3
PyWavelets>=1.4
requests>=2.31
scipy>=1.10
spacepy>=0.5
ssqueezepy>=0.6
statsmodels>=0.14
sunpy>=5.1
sunpy-soar>=1.6
tqdm>=4.65
xarray>=2023.1
